---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  <h1 class="post-title">Links</h1>
  <div class="post-content">
    <ul>
      <li><a href="https://twitter.com/awzhak">Twitter</a></li>
      <li><a href="https://www.pixiv.net/users/84820910">pixiv</a></li>
      <li><a href="https://note.com/awzhak">note</a></li>
      <li><a href="https://github.com/awzhak">GitHub</a></li>
      <li><a href="https://annict.com/@awzhak/watching">Annict</a></li>
      <li><a href="https://www.eventernote.com/users/awzhak">EVENTERNOTE</a></li>
      <li><a href="https://www.instagram.com/awzhak">Instagram</a></li>
      <li><a href="https://open.spotify.com/user/doxx4ok3lsrs3wcj6rbkvwokj">Spotify</a></li>
      <li><a href="https://stats.fm/awzhak">stats.fm</a></li>
    </ul>
  </div>

  <h1 class="post-title">Posts</h1>
  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
